.chat-screen {
  background-color: #abc1d1;
}
#inf-chat-screen {
  height: 500vh;
}
#inf-chat-screen .alt-header,
#inf-chat-screen .status-bar {
  position: fixed;
  width: 100%;
  box-sizing: border-box;
}
#inf-chat-screen .status-bar {
  z-index: 2;
}
#inf-chat-screen .alt-header {
  z-index: 1;
}
@keyframes fadeIn {
  from {
    transform: translateY(10px);
    opacity: 0;
  }
  to {
    transform: none;
    opacity: 1;
  }
}
@keyframes slideInFromLeft {
  from {
    transform: translateX(-10px);
    opacity: 0;
  }
  to {
    transform: none;
    opacity: 1;
  }
}
@keyframes slideInFromRight {
  from {
    transform: translateX(10px);
    opacity: 0;
  }
  to {
    transform: none;
    opacity: 1;
  }
}
.chat__timestamp {
  color: white;
  background-color: #92a4b2;
  padding: 8px 15px;
  border-radius: 25px;
  font-size: 15px;
  margin-bottom: 25px;
}
.chat-header__background {
  background-color: #abc1d1;
}
.main-chat {
  padding-top: 110px;
  display: flex;
  flex-direction: column;
  align-items: center;
  animation: fadeIn 0.3s linear;
}
.message-row {
  width: 100%;
  display: flex;
  margin-bottom: 25px;
}
.message-slide__left {
  animation: slideInFromLeft 0.4s linear;
}
.message-slide__right {
  animation: slideInFromRight 0.4s linear;
}
.message-row img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 15px;
}
.message__author {
  opacity: 0.8;
  font-size: 16px;
  display: block;
  margin-bottom: 10px;
}
.message__info {
  display: flex;
  align-items: flex-end;
}
.message__bubble {
  background-color: white;
  padding: 13px;
  border-radius: 15px;
  margin-right: 5px;
  border-top-left-radius: 0px;
  font-size: 18px;
}
.message__time {
  opacity: 0.8;
  font-size: 13px;
}
.message-row--own {
  justify-content: flex-end;
}
.message-row--own .message__bubble {
  background-color: var(--yellow);
  border-top-right-radius: 0px;
  border-top-left-radius: 15px;
  margin-left: 5px;
  margin-right: 0px;
}
.message-row--own .message__info {
  flex-direction: row-reverse;
}
.keyboard {
  position: fixed;
  bottom: 0px;
  width: 100%;
  background-color: white;
  display: flex;
  justify-content: space-between;
  padding: 5px 25px;
  align-items: center;
  box-sizing: border-box;
  transition: all 0.3s ease-in-out;
}
.keyboard-column button {
  background-color: var(--yellow);
  border: none;
}
.keyboard-column:first-child {
  width: 10%;
}
.keyboard-column:last-child {
  width: 90%;
  position: relative;
  margin-right: 20px;
}
.keyboard input {
  padding-left: 10px;
  height: 30px;
  width: 100%;
  border: var(--slice-border);
  border-radius: 30px;
  box-sizing: border-box;
  transition: all 0.3s ease-in-out;
}
.keyboard-column:last-child > i,
.keyboard-column:last-child button {
  position: absolute;
  right: 2px;
  top: 1px;
  width: 28px;
  height: 28px;
  border-radius: 50%;
}
.keyboard-column:last-child > i {
  right: 40px;
  top: 7px;
}

.keyboard-column button:focus,
.keyboard-column button:active {
  outline: none;
}
.keyboard-column i {
  opacity: 0.5;
}
.keyboard .keyboard-column:first-child,
.keyboard .fa-smile-wink,
.keyboard button {
  opacity: 1;
}
.keyboard:focus-within .keyboard-column:first-child,
.keyboard:focus-within .fa-smile,
.keyboard:focus-within button {
  opacity: 0;
}
.keyboard input:focus {
  width: 95vw;
  transform: translateX(-8%) translateY(-80px);
}
.keyboard:focus-within {
  transform: translateY(80px);
}
